{% extends "base.html" %}
{% block title %} General Expenses {% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Furniture Inventory List</div>
            <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <tr>
                                    <!-- Search Functionality -->
                      
                          
                                <form class="card card-sm">
                                    <div class="card-body row no-gytters align-items-center">
                                        <div class="col">
                                            <input type="text" name='item_name' class="form-control form-control-borderless" placeholder="Search for Furniture">
                                        </div>
                                        <div class="col-auto">
                                            <button class='btn btn-success' type='submit'>Search</button>
                                        </div>
                                    </div>
                                </form>
                         
                  
                    </tr>                
                </table>

                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Item Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Unit Work Expense</th>
                            <th>Total Work Expense</th>
        
                        </tr>
                    </thead>
                    <tbody>
                        {% for furnitureinventory in furniture_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ furnitureinventory.item_name }}</td>
                                <td>{{ furnitureinventory.description }}</td>
                                <td>{{ furnitureinventory.quantity }}</td>
                                <td>{{ furnitureinventory.unit_price }}</td>
                                <td>{{ furnitureinventory.unit_expenses_on_work }}</td>
                                <td>{{ total_expenses }}</td> 
                                
                                <td>
                                    <a href="">
                                        <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                    </a>
                                    <a href="{% url 'services:delete_furniture_view' furnitureinventory.id %} ">
                                        <button type="submit" class="btn btn-danger">X</button>
                                    </a>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if furnitureinventorys.has_other_pages %}
            <ul class="pagination">
                {% if furnitureinventorys.has_previous %}
                    <li class="page-item">
                        <a href="?page={{furnitureinventorys.previous_page_number}}" class="page-link">Prev</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Prev</a>
                    </li>
                {% endif %}
                {% for i in furnitureinventorys.paginator.page_range %}
                    {% if furnitureinventorys.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if furnitureinventorys.has_next %}
                    <li class="page-item">
                        <a href="?page={{furnitureinventorys.next_page_number}}" class="page-link">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}