{% extends "base.html" %}
{% block title %} General Expenses {% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> General Expenses List</div>
            <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <tr>
                                    <!-- Search Functionality -->
                      
                          
                                <form class="card card-sm">
                                    <div class="card-body row no-gytters align-items-center">
                                        <div class="col">
                                            <input type="date" name='date_recorded' class="form-control form-control-borderless" placeholder="Search for products">
                                        </div>
                                        <div class="col-auto">
                                            <button class='btn btn-success' type='submit'>Search</button>
                                        </div>
                                    </div>
                                </form>
                         
                  
                    </tr>
                    <div class="row">
                        <div class="col-10 pt-2 mb-2 text-center d-flex flex-row justify-content-between">
                            <!--<h4 class="display-4">PRODUCTS</h2>-->
                            <a href="{% url 'services:generalexpenses' %}" id="purchase-link" class="btn btn-lg btn-warning">New Expenses</a>
                        </div>
                        
                    </div>   
                    <tr>
                       <th>DATE: {{ date_recorded}}</th>
                       <th>TOTAL: {{ total_expenses.Total|floatformat:2 }} </th> 
                    </tr>
                
                </table>

                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for generalexpense in generalexpenses %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ generalexpense.description }}</td>
                                <td>{{ generalexpense.amount }}</td>
                                <td>{{ generalexpense.date_recorded }}</td>
                                <td>
                                    <a href="{% url 'services:edit_expense' generalexpense.id %}">
                                        <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                    </a>
                                    <a href="{% url 'services:delete_exepenses_view' generalexpense.id %} ">
                                        <button type="submit" class="btn btn-danger">X</button>
                                    </a>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if generalexpenses.has_other_pages %}
            <ul class="pagination">
                {% if generalexpenses.has_previous %}
                    <li class="page-item">
                        <a href="?page={{generalexpenses.previous_page_number}}" class="page-link">Prev</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Prev</a>
                    </li>
                {% endif %}
                {% for i in generalexpenses.paginator.page_range %}
                    {% if generalexpenses.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if generalexpenses.has_next %}
                    <li class="page-item">
                        <a href="?page={{generalexpenses.next_page_number}}" class="page-link">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}