{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> operators List</div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th>Dated Registered</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                           {% for operator in operator_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ operator.first_name}} {{operator.last_name }}</td>
                                    <td>{{ operator.phone_number }}</td>
                                    <td>{{ operator.date_created}}</td>
                          
                                    <td>
                                        <a href="#">
                                            <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                        </a>
                                        <a href="{%url 'services:delete_operator' operator.id %}">
                                            <button type="button" class="btn btn-danger">X</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

