{% extends "base.html" %}
{% block title %} Wood from Bush {% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Wood from Bush List</div>
            <div class="card-body">
                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <tr>
                                    <!-- Search Functionality -->
                      
                                    <form class="card card-sm">
                                        <div class="card-body row no-gytters align-items-center">
                                            <div class="col">
                                                <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."> -->
                                                <input type="text" id="myInput"onkeyup="myFunction()" name='item_name' class="form-control form-control-borderless" placeholder="Search for Available Wood">
                                            </div>
                                            
                                        </div>
                                    </form>
                         
                                    <div class="row">
                                        <div class="col-10 pt-2 mb-2 text-center d-flex flex-row justify-content-between">
                                            <!--<h4 class="display-4">PRODUCTS</h2>-->
                                            <a href="#" id="purchase-link" class="btn btn-lg btn-warning">New Purchase</a>
                                        </div>
    
                                
                                        <div class="col-2 pt-2 mb-2 text-center d-flex flex-row justify-content-between">
                                            <!--<h4 class="display-4">PRODUCTS</h2>-->
                                               
                                                <a href="{% url 'services:woodfrombush' %}" class="link btn btn-danger" id="supply-link" > Add Supply
                                                </a>
                                        </div>
                                        
                                    </div>   
                    </tr>
                    <tr>
                       <th>DATE: {{ work_date}}</th>
                       <th>TOTAL: {{ wood_from_bushs_total.Total|floatformat:2 }} </th> 
                    </tr>
                
                </table>
                <table id="myTable" class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Name of Operator</th>
                            <th>Date Purchased</th>
                        </tr>
                    </thead>
                    <tbody id="myTB">
                        {% for woodfrombush in woodfrombushs %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ woodfrombush.description}}</td>
                                <td>{{ woodfrombush.quantity }}</td>
                                <td>{{ woodfrombush.price }}</td>
                              
                                <td>{{ total_wood_price }}</td>
                                <td>{{ woodfrombush.operator }}</td>
                                <td>{{ woodfrombush.date_purchased }}</td> 
                                <td>
                                    <a href="">
                                        <button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button>
                                    </a>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if woodfrombushs.has_other_pages %}
            <ul class="pagination">
                {% if woodfrombushs.has_previous %}
                    <li class="page-item">
                        <a href="?page={{woodfrombushs.previous_page_number}}" class="page-link">Prev</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Prev</a>
                    </li>
                {% endif %}
                {% for i in woodfrombushs.paginator.page_range %}
                    {% if woodfrombushs.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if woodfrombushs.has_next %}
                    <li class="page-item">
                        <a href="?page={{woodfrombushs.next_page_number}}" class="page-link">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>


<div class="myoverlay full-screen" id="purchase-view">
    <i class="myclose btn btn-danger">X</i>
    <div class="container">
        {% include 'add_wood_sale.html' %}
    </div>
</div>



<script>
    function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>

    <script async>

        document.querySelector("#purchase-link").addEventListener("click", function (e) {
            document.querySelector("#purchase-view").classList.toggle("show");
        });
       
    
        let closes = document.getElementsByClassName("myclose");
        for (let i = 0; i < closes.length; i++) {
            closes[i].addEventListener('click', function (e) {
                this.parentNode.classList.toggle("show");
            });
        }
    </script>
{% endblock %}