{% extends "base.html" %}
{% block title %} Wood Sold {% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Wood Sold</div>
            <div class="card-body">

                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <tr>
                                    <!-- Search Functionality -->
                      
                          
                                <form class="card card-sm">
                                    <div class="card-body row no-gytters align-items-center">
                                        <div class="col">
                                            <input type="date" name='date_recorded' class="form-control form-control-borderless" placeholder="Search for products">
                                        </div>
                                        <div class="col-auto">
                                            <button class='btn btn-success' type='submit'>Search</button>
                                        </div>
                                    </div>
                                </form>
                         
                  
                    </tr>               
                    </div>   
                    <tr>
                       <th>DATE: {{ work_date}}</th>
                       <th>TOTAL SALES: {{ total_sales|floatformat:2 }} </th> 
                       <th>TOTAL PROFIT: {{ total|floatformat:2 }} </th> 
                    </tr>
                
                </table>

                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Date</th>
                            <th>Wood Description</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Profit</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        {% for woodsold in woodsale %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ woodsold.woodsale.date_sold }}</td>
                                <td>{{ woodsold.woodfrombush }} </td>
                                <td>{{ woodsold.quantity }}</td>
                                <td>{{woodsold.total_amount }}</td>
                                <td>{{woodsold.total_profit}}</td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}