{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} GEKY {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
   

    <!-- Icons -->
    <link href="{% static 'vendors/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/css/simple-line-icons.min.css' %}" rel="stylesheet">

     <!-- Main styles for this application -->
     <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
        <!--Navbar-->
        {% include 'navbar.html' %}
        
        <div class="app-body">
            <!--Sidebar-->
        {% include 'sidebar.html' %}

        <!--Main content -->
        <main class="main">
            <!-- Page contents -->
        <div class="container-fluid">
            <div class="animated fadeIn">
                {% block content %}
                {% endblock %}
            </div>

        </div>
        <!-- /.conainer-fluid -->
        </main>  
        
        </div>
</div>

    <script src="{% static 'css/mdb.min.js' %}"></script>

    <!-- Custom scripts required by this view -->
<script src="{% static 'js/views/main.js' %}"></script>

    <!-- Bootstrap and necessary plugins -->
<script src="{% static 'vendors/js/jquery.min.js' %}"></script>
<script src="{% static 'vendors/js/popper.min.js' %}"></script>
<script src="{% static 'vendors/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/js/pace.min.js' %}"></script>
    <!-- CoreUI main scripts -->
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>

</body>
</html>