<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'services:index' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-settings"></i> Machine Works</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:machine_work_list' %}">
                            <i class="nav-icon icon-puzzle"></i> Machine Work List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:machinework' %}">
                            <i class="icon-plus"></i> Add Machine Work</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-screen-tablet"></i> General Expenses</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:general_expenses_list' %}">
                            <i class="nav-icon icon-puzzle"></i> Expenses List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:generalexpenses' %}">
                            <i class="icon-plus"></i> Add Expenses</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-wallet"></i> Salary</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:salary_list' %}">
                            <i class="nav-icon icon-puzzle"></i> Salary List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:salary' %}">
                            <i class="nav-icon icon-puzzle"></i> Pay New Salary</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i>Staff</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:staff_list' %}">
                            <i class="nav-icon icon-people"></i> Staff List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:register' %}">
                            <i class="icon-user-follow"></i>  Add Staff</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-people"></i> Operators</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:operator_list' %}">
                            <i class="nav-icon icon-people"></i> Operators List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:operator' %}">
                            <i class="icon-user-follow"></i> Add Operator</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-layers "></i> Furniture Inventory</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:salary_list' %}">
                            <i class="nav-icon icon-login"></i><i class="fas fa-couch"></i>Furniture List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:salary' %}">
                            <i class="icon-plus"></i> Add Furniture</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-directions"></i> Furniture Sales</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:salary_list' %}">
                            <i class="nav-icon icon-puzzle"></i> Sold Furniture List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:salary' %}">
                            <i class="nav-icon icon-puzzle"></i> Sell Furniture</a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="icon-control-pause"></i> Wood From Bush</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:wood_from_bush_list' %}">
                            <i class="nav-icon icon-puzzle"></i> Wood List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services:woodfrombush' %}">
                            <i class="icon-plus"></i> Add Wood From Bush</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

</div>

