{%extends 'base.html'%}
{%load static%}
{%block title%}
STAFF DETAIL PAGE
{%endblock%}
{%block content%}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">

                <h1>
                   
                </h1>

                <div class="text-center"> 
                    <img src="{{ user.staff.picture.url }}" width="100" class="rounded-circle" alt="not found"> 
                </div>
                <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                    <h5 class="mt-2 mb-0">{{ user.staff.first_name}} {{user.staff.last_name}} {{staff.otherNames }}</h5> <span>UI/UX Designer</span>
                    <div class="px-4 mt-1">
                        <p class="fonts">Phone Number :  {{ user.staff.phoneNumber }}</p>
                        <p class="fonts">Date Joined :  {{ user.staff.dateCreated }}</p>
                    </div>
                    
                    <div class="buttons"> <a href="{% url 'services:delete_staff' user.staff.id %} ">
                        <button type="submit" class="btn btn-danger">Delete Staff</button>
                   </a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}